<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{%- block title -%}CringeIt®™{%- endblock -%}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet">
        {% if auth_user is defined %}
        <script>
            const authUser = Object.freeze({
                id: {{ auth_user.id }},
                username: "{{ auth_user.username }}",
                isAdmin: {{ "true" if auth_user.is_admin else "false" }},
            });
        </script>
        {% endif %}
        {% block sources %}{% endblock %}
    </head>
    <body>
        {% block header -%}
        <header id="top">
            {%- if auth_user is defined and auth_user.id is defined -%}
            <div class="content wide row">
                <h1><a href="/dashboard" style="text-decoration: none; color: var(--fg-heading) !important;">CringeIt®™</a></h1>
                <div class="row" style="justify-content: flex-end;">
                    <h3><a href="/users/{{ auth_user.id }}">{{ auth_user.username }}</a></h3>
                    <a href="/logout" class="left-arrow danger button">Log Out</a>
                </div>
            </div>
            {%- else -%}
            <h1 style="margin: auto;">{{ self.title() }}</h1>
            {%- endif -%}
        </header>
        {%- endblock %}
        {% block content -%}{%- endblock %}
    </body>
</html>
