<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{%- block title -%}CringeIt®™{%- endblock -%}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    </head>
    <body>
        {% block header -%}
        <header>
            {%- if user is defined and user.id is defined -%}
            <div class="content wide row">
                <h1>CringeIt®™</h1>
                <div class="row" style="justify-content: flex-end;">
                    <h3><a href="/users/{{ user.id }}">{{ user.username }}</a></h3>
                    <a href="/logout" class="danger arrow button">Log Out</a>
                </div>
            </div>
            {%- else -%}
            <div class="content wide row"><h1>{{ self.title() }}</h1></div>
            {%- endif -%}
        </header>
        {%- endblock %}
        {% block content -%}{%- endblock %}
    </body>
</html>
