<div class="comment row card" id="comment-{{ comment.id }}">
    <div class="column" style="gap: 0; align-items: center;">
        <a href="/comments/{{ comment.id }}/rate-up" class="vote up-arrow"></a>
        <span class="comment-rating">{{ comment.rating }}</span>
        <a href="/comments/{{ comment.id }}/rate-down" class="vote down-arrow"></a>
    </div>
    <div style="flex: 1;">
        <h6 class="short">
            <a href="/users/{{ comment.user_id }}">
                {{- comment.username }}</a>{%- if comment.parent_comment_username is defined -%},
            replying to
            <a href="#comment-{{ comment.parent_comment_id }}">
                {{- comment.parent_comment_username }}</a>
            {%- endif %}
        </h6>
        <div class="comment-body">
            <p class="short content pre-space">{{ comment.content }}</p>
            <span class="short row" style="font-size: .8em;">
                <a onclick="showReplyForm(this.parentElement,
                    {{- cringe.id }},
                    {{- comment.id }},'{{ comment.username }}')">Reply</a>
                {%- if auth_user.is_admin == 1 or auth_user.id == comment.user_id %}
                <a onclick="editComment({{ cringe.id }},{{ comment.id }})">Edit</a>
                <a href="/comments/{{ comment.id }}/delete">Delete</a>
                {%- endif %}
            </span>
        </div>
    </div>
</div>
{% if comment.replies|count > 0 %}
<div class="comment-replies">
{% for reply in comment.replies %}
    {% with comment = reply %}
    {% include "/views/comments/_insert.html" %}
    {% endwith %}
{% endfor %}
</div>
{% endif %}
