<div class="row card" id="comment-{{ comment.id }}">
    <div class="column" style="gap:0; align-items: center;">
        <span>↑</span>
        <span>+69</span>
        <span>↓</span>
    </div>
    <div class="column" style="flex: 1;">
        <h6 class="short">
            <a href="/users/{{ comment.user_id }}">
                {{- comment.username }}</a>{%- if comment.parent_comment_username is defined -%},
            replying to
            <a href="#comment-{{ comment.parent_comment_id }}">
                {{- comment.parent_comment_username }}</a>
            {%- endif %}
        </h6>
        <p class="short" style="max-width: 100%; white-space: pre-line; word-wrap: break-word; margin: 1em 0;" id="comment-content-{{ comment.id }}">{{ comment.content }}</p>
        <span>
            <a
                href="#comment-{{ comment.id }}"
                onclick="showReplyForm(this, {{auth_user.id}}, {{cringe.id}}, {{comment.id}}, '{{comment.username}}')"
            >
                Reply
            </a>
        </span>
    </div>
</div>
{% if comment.replies|count > 0 %}
<div style="padding-left: 2.5rem; border-left: 2px solid var(--bg-light);">
{% for reply in comment.replies %}
    {% with comment = reply %}
    {% include "/views/comments/_insert.html" %}
    {% endwith %}
{% endfor %}
</div>
{% endif %}
