{% extends "layouts/main.html" %}
{% block title %}{{ cringe.headline }} - CringeIt{% endblock %}
{% block sources %}
<script src="{{ url_for('static', filename='js/types/comment_reply_form.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cringe.css') }}" />
<style>
.rating {
    background-color: {{ "#0da" if cringe.rating >= 0 else "purple" }};
}
</style>
{% endblock %}
{% block content -%}
<main class="content column" style="gap: 2em;">
    {% include "layouts/_flash_messages.html" %}
    <div class="wide row" style="align-items: stretch;">
        <div class="wide column" style="gap: 0; justify-content: space-between;">
            <h1 class="headline">{{ cringe.headline }}</h1>
            <p style="margin: 0;">
                Posted by <a href="/users/{{ cringe.user_id }}">{{ cringe.username }}</a>
                on {{ cringe.created_at.strftime("%d %b, %Y") }}
            </p>
        </div>
        <h1 class="rating">
            {{ "+" if cringe.rating >= 0 }}{{ cringe.rating }}
        </h1>
    </div>
    <div class="cringe-url">
        <a href="{{ cringe.url }}">{{ cringe.url }}</a>
    </div>
    <p>{{ cringe.description }}</p>
    <div class="wide row" style="width: 65%; margin: auto;">
        <a class="rate button plus">CRINGE</a>
        <a class="rate button minus">Boring</a>
    </div>
    <hr>
    <div class="wide row">
        <div class="short row">
            <a href="/dashboard" class="clear left-arrow button">Return to CringeFeed</a>
            {% if auth_user.id == cringe.user_id or auth_user.is_admin == 1 %}
            <a href="/cringe/{{ cringe.id }}/edit" class="button">Edit</a>
            <a href="/cringe/{{ cringe.id }}/delete" class="danger button">Delete</a>
            {% endif %}
        </div>
        <a href="/cringe/{{ cringe.id }}/report">Report this</a>
    </div>
    {% include "/views/comments/_form.html" %}
    <div class="column" style="gap: 0;">
        {% for comment in cringe.comments|reverse %}
        {% include "/views/comments/_insert.html" %}
        {% endfor %}
    </div>
</main>
{%- endblock %}
