{% extends "layouts/main.html" %}
{% block title %}{{ cringe.headline }} - CringeIt{% endblock %}
{% block content -%}
<style>
.headline {
    font-size: 3rem;
}
.rating {
    color: var(--fg-dark);
    background-color: {{ "#0da" if cringe.rating >= 0 else "purple" }};
    font-size: 3.5rem;
    padding: .1em .3em;
    border-radius: .5rem;
    /* box-shadow: 0 0 10px {{ "#0fd" if cringe.rating >= 0 else "#a05" }}; */
}
.cringe-url {
    border: .15em solid var(--fg-dark);
    border-radius: .15em;
    background-color: #aaa;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    & a {
        color: #04a !important; target=
    }
}
.button.rate {
    padding: 1.5em;
    font-size: 1.5rem;
    width: 35%;
    box-shadow: 5px 5px black;
    &.plus:before {
        display: inline-block;
        width: 2ch;
        height: 2ch;
        margin-right: .5ch;
        border: 4px solid var(--fg);
        border-radius: 50%;
    }
    &.minus {
        background-color: #737;
        &:before {
            content: "– ";
            display: inline-block;
            width: 2ch;
            height: 2ch;
            margin-right: .5ch;
            border: 4px solid var(--fg);
            border-radius: 50%;
        }
    }
}
</style>
<main class="content column" style="gap: 2em;">
    <div class="wide row" style="align-items: stretch;">
        <div class="wide column" style="gap: 0; justify-content: space-between;">
            <h1 class="headline">{{ cringe.headline }}</h1>
            <p style="margin: 0;">
                Posted by <a href="/users/{{ cringe.user_id }}">{{ cringe.user.username }}</a>
                on {{ cringe.created_at.strftime("%d %b, %Y") }}
            </p>
        </div>
        <h1 class="rating">
            {{ "+" if cringe.rating >= 0 }}{{ cringe.rating }}
        </h1>
    </div>
    <div class="cringe-url">
        <a href="{{ cringe.url }}">{{ cringe.url }}</a>
    </div>
    <p>{{ cringe.description }}</p>
    <div class="wide row" style="width: 65%; margin: auto;">
        <a class="rate button plus">CRINGE</a>
        <a class="rate button minus">Boring</a>
    </div>
    <hr>
    <div class="wide row">
        <div class="short row">
            <a href="/dashboard" class="clear left-arrow button">Return to CringeFeed</a>
            {% if auth_user.id == cringe.user_id or auth_user.is_admin == 1 %}
            <a href="/cringe/{{ cringe.id }}/edit" class="button">Edit</a>
            <a href="/cringe/{{ cringe.id }}/delete" class="danger button">Delete</a>
            {% endif %}
        </div>
        <a href="/cringe/{{ cringe.id }}/report">Report this</a>
    </div>
    {% include "/views/comments/_form.html" %}
</main>
{%- endblock %}
