{%- set error_filters = ["validate-username-error", "validate-email-error", "validate-password-error"] -%}
{%- set success_filters = "none" -%}
<form action="/users/{% if user is defined and user.id is defined %}update{% else %}create{% endif %}" method="POST">
    {%- include "layouts/_flash_messages.html" -%}
    {% if user is defined and user.id is defined %}
    <input type="hidden" name="id" value="{{ user.id }}" required />
    {% endif %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" {%- if user is defined %}value="{{ user.username }}"{% endif %} required />
    <label for="email">Email address:</label>
    <input type="email" name="email" id="email" {%- if user is defined %}value="{{ user.email }}"{% endif %} required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <label for="confirm-password">Confirm password:</label>
    <input type="password" name="confirm-password" id="confirm-password" required />
    <hr>
    {% if user is defined and user.id is defined %}
    <button>Update {{ user.username }}</button>
    {% else %}
    <button class="plus">Create account</button>
    {% endif %}
</form>
