{% extends "layouts/main.html" %}
{%- block title -%}Edit {{ user.username }}{%- endblock -%}
{% block content -%}
<main class="content">
    {% include "layouts/_flash_messages.html" %}
    <div class="row">
        <div class="wide column">
            <h1>Edit {{ user.username }}</h1>
            <div class="wide card">
                {% include "views/user/_form.html" %}
            </div>
        </div>
        <div class="column">
            <h2>Actions</h2>
            <div class="card">
                <a href="/users/{{ user.id }}/delete" class="danger button">Delete Account</a>
            </div>
        </div>
    </div>
</main>
{%- endblock %}
