{% extends "layouts/main.html" %}
{%- block title -%}View Profile - {{ user.username }}{%- endblock -%}
{% block content -%}
<main class="content column" style="gap: 4em;">
    {% include "layouts/_flash_messages.html" %}
    <div class="wide row">
        <div class="column">
            <h1>{{ user.username }}</h1>
            {% if auth_user.id == user.id or auth_user.is_admin %}
            <a href="/users/{{ user.id }}/edit">Edit Profile</a>
            {% endif %}
        </div>
        <div class="column">
            <span>Email address: {{ user.email }}</span>
            <span>Joined: {{ user.created_at }}</span>
        </div>
    </div>
    <div class="wide column">
        <h2>Total Cringe: {{ "+" if user.total_cringe >= 0 }}{{ user.total_cringe }}</h2>
        {% for cringe in all_cringe %}
        {% include "/views/cringe/_insert.html" %}
        {% endfor %}
    </div>
</main>
{%- endblock %}
