{% extends "layouts/main.html" %}
{%- block title -%}View Profile - {{ user.username }}{%- endblock -%}
{% block content -%}
<main class="content column" style="gap: 4em;">
    {% include "layouts/_flash_messages.html" %}
    <div class="wide row">
        <div class="column">
            <h1>{{ user.username }}</h1>
            {% if user.is_admin %}
            <p>This user is an administrator.</p>
            {% endif %}
            {% if auth_user.id == user.id or auth_user.is_admin %}
            <a href="/users/{{ user.id }}/edit">Edit Profile</a>
            {% endif %}
        </div>
        <div class="column">
            <span>Email address: {{ user.email }}</span>
            <span>Joined: {{ user.created_at }}</span>
        </div>
    </div>
    <div class="wide column">
        <div class="wide row">
            <h2>Total Cringe: {{ "+" if user.total_cringe >= 0 }}{{ user.total_cringe }}</h2>
            <div class="short row">
                <a href="/dashboard" class="clear left-arrow button">Back to CringeFeed</a>
                <a href="/cringe/new" class="plus button">Post Cringe</a>
            </div>
        </div>
        {% if all_cringe|count > 0 %}
        {% for cringe in all_cringe %}
        {% include "/views/cringe/_insert.html" %}
        {% endfor %}
        {% else %}
        <h1 class="card" style="text-align: center;">This user has not posted any cringe</h1>
        {% endif %}
    </div>
</main>
{%- endblock %}
